{% extends "base.html" %}

{% block content %}
<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
       <img id="launchpage-icon" src="/img/mathbrain.png" alt="Smart Owl" height="200" width="200">
      <h1 class="launch-page-heading">Practice makes perfect</h1>
      <div class="signup-about-panel">
          <p>The best way to get better at maths is to <b><i>practice</i></b> more.
            <a href="#signup_form">Sign up</a> and test for yourself!</p>
      </div>
      <div class="signup-about-video">
          <h2>How does Math Brain work?</h2>
          <iframe width="640" height="360" src="http://www.youtube.com/embed/lV76-lXWNRc" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="signup-panel">
          <h1>Sign up with an email address:</h1>
              <form id="signup_form" method="post" action="/account/signup/" autocapitalize="off">
                  <div style="display:none">{% csrf_token %}</div>
                  <input id="iemail" name="email_registration" placeholder="youremail@email.com" type="text">
                  <button type="submit" class="btn btn-primary btn-large sign-up-btn">Sign me up!</button>
              </form>
        
              <!--p id="disclaimer">By clicking "Sign me up", you agree to the <a href="/about/terms/">Terms of Use</a> and <a href="/about/privacy/">Privacy Policy</a>.</p-->
              <p id="support">For any assistance, contact us at <a href="mailto:support@mathbrain.com.au">support@mathbrain.com.au</a>.</p>
      </div>
  </div>

  <hr>

  <footer>
    <p>&copy; Math Brain 2012</p>
  </footer>

</div>
<!-- /container -->
{% endblock %}

{% block pagejs %}
    <script>
        // Set the correct navbar item as selected
        $("lihome").addClass("active");
    </script>
    <script src="/js/libs/bootstrap/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
{% endblock %}
