{% extends "base.html" %}

{% block content %}
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
           <img id="launchpage-icon" src="/img/mathbrain.png" alt="Smart Owl" height="200" width="200">
          <h1 class="launch-page-heading">Practice makes perfect</h1>
          <div class="signup-about-panel">
              <p>Thank you for your registration. We have added you to the invite list and will contact you shortly.</p>
          </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Math Brain 2012</p>
      </footer>

  </div> <!-- /container -->
{% endblock %}
