<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>2 Unit, Extension 1, Extension 2 Exam Timer - Math Brain (mathbrain.com.au)</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<style>
	body {
	  padding-top: 60px;
	  padding-bottom: 40px;
	}
	</style>
	<link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="/css/style.css">

	<script src="/js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>
</head>
<body>
<!--[if lt IE 9]><h1 class=chromeframe>Your browser is not support because it
    is too old. <a
        href="http://browsehappy.com/">Upgrade to a different browser</a> or <a
        href="http://www.google.com/chromeframe/?redirect=true">install Google
        Chrome Frame</a> to experience this site.</h1><![endif]-->

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Math Brain</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li class="active"><a href="/exam">Exam Timer</a></li>
              <!--li><a href="/pastexampapers">Past Exam Papers</a></li-->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <div id="question_container" class="row">

        <!-- exam question -->
        <div class="span-8">
            <!-- actual question image -->
            <h1 id="mbQuestionHeading"></h1>
            <br />
            <p class="question border center">
                <img id="mbQuestionImg" class="center" src="/img/mathbrain.png" alt="Exam question" />
                

            </p>
            <!-- / actual question image -->

            <p><br /></p>



        </div>
        <!-- /exam question -->

        <!-- The right hand sidebar goes here -->
        <div class="span-4">
            <!-- The JS time goes here -->
            <h1 id="mbQuestionMarks"><h1>
            <h1 id="mbQuestionTimerHeader" class="hidden">Allocated time</h1>
            <h1 id="mbQuestionTimer" class="red"></h1>
            <br />
            <h3 id="mbExamTimerHeader" class="hidden">Total time left</h3>
            <h3 id="mbExamTimer" class="blue"></h3>

            <hr id="mbButtonHR" class="hidden">

            <!-- Subject -->
            <span id="mbSelectSubject">
                <label for="subject">Select your subject</label>
                <select id="subject">
                  <option value="2" selected>2 Unit Mathematics</option>
                  <option value="3">3 Unit Mathematics</option>
                  <option value="4">4 Unit Mathematics</option>
                </select>
                <p class=""><button id="mbBegin" class="btn btn-primary btn-large btn-danger">Begin &raquo;</button></p>
            </span>

            <span id="mbNavQuestions" class="hidden">
                <p id="mbNav" class="">
                    <button id="mbPrevious" class="btn btn-primary btn-large hidden">&laquo; Previous</button>
                    <button id="mbNext" class="btn btn-primary btn-large">Next &raquo;</button>
                    <button id="mbFinish" class="btn btn-primary btn-large btn-danger hidden">Finished!</button>
                </p>
            </span>
        </div>

        <!-- End the right hand sidebar -->

      </div>
      <!-- / question_container -->
      <div id="reportcard_container" class="row hidden">
      </div>
      <!-- / reportcard_container -->

      <hr>
      <footer>
        <p>&copy; Math Brain 2012</p>
      </footer>

    </div> <!-- /container -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/libs/jquery-1.7.2.min.js"><\/script>')</script>
<script src="/js/libs/bootstrap/bootstrap.min.js"></script>
<script src="/js/libs/bootstrap/modal.js"></script>
<script src="/js/script.js"></script>

<!-- http://keith-wood.name/countdown.html -->
<script src="/js/libs/jquery.countdown.pack.js"></script>

<!-- event handling -->
<script>

// The questions that's current displayed on screen
var qIndex = 0;

window.onbeforeunload = function() {
    if ($('#mbExamTimer').length) {
        recordTotalTime($('#mbExamTimer span').text());
        recordLastState(qIndex, !$("#mbNext").is(':hidden'), !$("#mbPrevious").is(':hidden'));
        var qid_img = $("#mbQuestionImg").attr("src");
        recordQuestionTime(qid_img.substring(1, qid_img.length), $("#mbQuestionTimer span").text());
    }   
}

$(document).ready(function() {

    // Returned question data will be stored
    var questions = {};

    // The subject we are doing
    var subject = 0;

    var displayQuestion = function(q) {
        $("#mbQuestionImg").attr("src", "/" + q.fields.question_img);
        $("#mbQuestionMarks").text(q.fields.mark + " marks");
        $("#mbQuestionHeading").text("Question " + q.fields.num);
        $("#mbQuestionTimer").countdown('destroy');


        // Check if there is q_fields_question_img already in DB
        if (localStorage) {
            if (localStorage.getItem(q.fields.question_img)) {
                if (parseInt(q.fields.mark) > 0) {
                    var minutes = localStorage.getItem(q.fields.question_img).substring(0, 2);
                    var seconds = localStorage.getItem(q.fields.question_img).substring(3, localStorage.getItem(q.fields.question_img).length);
                    var question_time = parseInt(minutes)*60+parseInt(seconds);
                    $("#mbQuestionTimer").countdown({until: question_time, compact: true, format: 'MS'});
                    subject = q.fields.subject; 
                }
            }
            else {
                if (parseInt(q.fields.mark) > 0) {
                    switch (parseInt(subject)) {
                        case 2:
                            // 2 Unit question
                            $("#mbQuestionTimer").countdown({until: (180/120 * parseInt(q.fields.mark) * 60), compact: true, format: 'MS'});
                            break;
                        case 3:
                            // 3 Unit question
                            $("#mbQuestionTimer").countdown({until: (120/84 * parseInt(q.fields.mark) * 60), compact: true, format: 'MS'});
                            break;
                        case 4:
                            // 4 Unit question
                            $("#mbQuestionTimer").countdown({until: (180/120 * parseInt(q.fields.mark) * 60), compact: true, format: 'MS'});
                            break;
                    }
                }
            }
        }
    };

    // When someone clicks begin, we start
    // ask for questions and return a JSON obj
    if (localStorage) {
        if (!localStorage.getItem('total_time')) {
            $("#mbBegin").click(function() {

                // What subject are we doing?
                subject = $("#subject").val();

                // Change our UI elements
                $("#mbSelectSubject").hide().fadeOut("slow");
                $("#mbNavQuestions").removeClass("hidden");
                $("#mbExamTimerHeader").removeClass("hidden");
                $("#mbQuestionTimerHeader").removeClass("hidden");
                $("#mbButtonHR").removeClass("hidden");

                var DATAURL = "/buildexam/" + subject;

                $.ajax({
                    url: DATAURL,
                    async: false,
                    dataType: 'json',
                    success: function(data) {
                        questions = data;
                    }
                });

                // save questions to local storage
                saveQuestions(questions);
            
                // display the first question
                displayQuestion(questions[qIndex]);

                // pre-fetch
                prefetchImages(questions);

                // set the count down timer for the exam
                if (parseInt(subject) === 2) $("#mbExamTimer").countdown({until: '180m', compact: true, format: 'HMS'});
                if (parseInt(subject) === 3) $("#mbExamTimer").countdown({until: '120m', compact: true, format: 'HMS'});
                if (parseInt(subject) === 4) $("#mbExamTimer").countdown({until: '180m', compact: true, format: 'HMS'});

            });
        }
        else { // Get current question from localStore & time they are on
            var confirmModal = 
                  $('<div class="modal hide fade">' +    
                      '<div class="modal-header">' +
                        '<a class="close" data-dismiss="modal" >&times;</a>' +
                        '<h3>Confirm Resume</h3>' +
                      '</div>' +

                      '<div class="modal-body">' +
                        '<p>Do you want to resume from where you last left off?</p>' +
                      '</div>' +

                      '<div class="modal-footer">' +
                        '<a href="#" id="cancel_resume" class="btn" data-dismiss="modal">No</a>' +
                        '<a href="#" id="ok_resume" class="btn btn-primary">Yes</a>' +
                      '</div>' +
                    '</div>');

            confirmModal.find('#ok_resume').click(function(event) {
                // Change our UI elements
                $("#mbSelectSubject").hide().fadeOut("slow");
                $("#mbNavQuestions").removeClass("hidden");
                $("#mbExamTimerHeader").removeClass("hidden");
                $("#mbQuestionTimerHeader").removeClass("hidden");
                $("#mbButtonHR").removeClass("hidden");

                // display the last question user was on
                if (localStorage) {
                    questions = JSON.parse(localStorage.getItem("questions"));
                    qIndex = parseInt(localStorage.getItem("last_qid"));
                    if (localStorage.getItem("nxt") == "true") {
                        $("#mbNext").show();
                        $("#mbFinish").addClass("hidden");
                    }
                    else {
                        $("#mbNext").hide();
                        $("#mbFinish").removeClass("hidden");
                    }
                    if (localStorage.getItem("prev") == "true") {
                        $("#mbPrevious").removeClass("hidden");
                    }
                    else {
                        $("#mbPrevious").addClass("hidden");
                    }
                    displayQuestion(questions[qIndex]);

                    // set the count down timer for the exam
                    var hours = localStorage.getItem("total_time").substring(0, 2);
                    var minutes = localStorage.getItem("total_time").substring(3, 5);
                    var seconds = localStorage.getItem("total_time").substring(6, localStorage.getItem("total_time").length);
                    var total_time = parseInt(hours)*3600+parseInt(minutes)*60+parseInt(seconds);
                    $("#mbExamTimer").countdown({until:total_time, compact: true, format: 'HMS'});
                }

                // pre-fetch - assume imgs are pre-fetched for now
                // prefetchImages(questions);


                confirmModal.modal('hide');
            });

            confirmModal.find('#cancel_resume').click(function(event) {
                $("#mbBegin").click(function() {

                    // What subject are we doing?
                    subject = $("#subject").val();

                    // Change our UI elements
                    $("#mbSelectSubject").hide().fadeOut("slow");
                    $("#mbNavQuestions").removeClass("hidden");
                    $("#mbExamTimerHeader").removeClass("hidden");
                    $("#mbQuestionTimerHeader").removeClass("hidden");
                    $("#mbButtonHR").removeClass("hidden");

                    var DATAURL = "/buildexam/" + subject;

                    $.ajax({
                        url: DATAURL,
                        async: false,
                        dataType: 'json',
                        success: function(data) {
                            questions = data;
                        }
                    });

                    // save questions to local storage
                    saveQuestions(questions);
                
                    // display the first question
                    displayQuestion(questions[qIndex]);

                    // pre-fetch
                    prefetchImages(questions);

                    // set the count down timer for the exam
                    if (parseInt(subject) === 2) $("#mbExamTimer").countdown({until: '180m', compact: true, format: 'HMS'});
                    if (parseInt(subject) === 3) $("#mbExamTimer").countdown({until: '120m', compact: true, format: 'HMS'});
                    if (parseInt(subject) === 4) $("#mbExamTimer").countdown({until: '180m', compact: true, format: 'HMS'});
                });
            });

            confirmModal.modal('show');
        }
    }

    $("#mbNext").click(function() {
        // Store the current question in localStorage
        var qid_img = $("#mbQuestionImg").attr("src");
        recordQuestionTime(qid_img.substring(1, qid_img.length), $("#mbQuestionTimer span").text());

        if (qIndex < questions.length) {
            qIndex = qIndex + 1;
            displayQuestion(questions[qIndex]);
        }
        if (qIndex === (questions.length - 1)) {
            $("#mbNext").hide();
            $("#mbFinish").removeClass("hidden");
        }
        if (qIndex > 0) {
            $("#mbPrevious").removeClass("hidden");
        }
    }); 

    $("#mbPrevious").click(function() { 
        // Store the current question in localStorage
        var qid_img = $("#mbQuestionImg").attr("src");
        recordQuestionTime(qid_img.substring(1, qid_img.length), $("#mbQuestionTimer span").text());

        if (qIndex > 0) {
            qIndex = qIndex - 1;
            displayQuestion(questions[qIndex]);
        }
        if (qIndex !== (questions.length - 1)) {
            $("#mbNext").show();
            $("#mbFinish").addClass("hidden");
        }
        if (qIndex === 0) {
            $("#mbPrevious").addClass("hidden");
        }
    });

    $("#mbFinish").click(function() { 
        // Gather all stats from questions in localStorage
        reportCard();
    });

});
</script>
<!-- /event handling -->

<!-- google -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30615284-1']);
  _gaq.push(['_setDomainName', 'mathbrain.com.au']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- /google -->

</body>
</html>
