{% extends "banner_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome to Math Brain" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
    <img id="launchpage-icon" src="{{ STATIC_URL }}/img/owl-small.png" alt="Smart Owl" height="200" width="200" />
    <h1 class="launch-page-heading">{% trans "Practice makes perfect" %}</h1>
    <div class="signup-about-panel">
         <p>{% trans "The best way to get better at maths is to <i>practice</i> more. Sign up and test for yourself." %}</p>
    </div>
    <div class="signup-about-video">
         <h2>{% trans "How does Math Brain work?" %}</h2>
         <!--iframe src="http://player.vimeo.com/video/22411824" width="420px" height="237px" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe-->
         <iframe src="http://player.vimeo.com/video/22411824" width="480px" height="237px" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    <div class="signup-panel">
        <h1>{% trans "Sign up with an email address:" %}</h1>
            
            <form id="signup_form" method="post" action="{% url acct_signup %}" autocapitalize="off">
                {% csrf_token %}
                <input id="iemail" type="text" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"  placeholder="youremail@email.com"/>
                <!--div class="actions"-->
                    <button type="submit" class="btn primary large">{% trans "Sign me up!" %}</button>
                <!--/div-->
            </form>
            
            {% url terms as terms_url %}
            {% url privacy as privacy_url %}
            <p id="disclaimer">{% blocktrans %}By clicking "Sign me up", you agree to the <a href="{{ terms_url }}">Terms of Use</a> and <a href="{{ privacy_url }}">Privacy Policy</a>.{% endblocktrans %}</p>
            <p id="support">{% blocktrans %}For any assistance, contact us at <a href="mailto:{{ CONTACT_EMAIL }}">{{ CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
    </div>
{% endblock %}
