<!DOCTYPE html>
<html>
    {% block head %}
    <head><title>{% block title %}{% endblock title %} Mathbrain</title></head>
    {% endblock head %}
    {% block style %}
    <style type="text/css">
        body { font: x-large Georgia, "Times New Roman", Times, serif; }
    </style>
    {% endblock style %}
<body>
    <div id="body">
        {% block questionpaper %}
        {% endblock questionpaper %}
    </div>
</body>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>
</html>
