<!DOCTYPE html>
<html>
{% block head %}
<head>
    <title>{% block title %}{% endblock title %} Mathbrain</title>

    {% block style %}
    <style type="text/css">
        body { font: x-large Georgia, "Times New Roman", Times, serif; }
    </style>
    {% endblock style %}
    
    {% block googleua %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30615284-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endblock googleua %}

</head>
{% endblock head %}
<body>
    <div id="body">
        {% block questionpaper %}
        {% endblock questionpaper %}
    </div>
</body>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>
</html>
