<!DOCTYPE html>
<html>
    <head> <title>mathbrain please.</title> </head>
<body>
    <p>Solve {{ leftside }} {{ equality }} {{ rightside }}.</p>

    <div id='answer' class='hidden'>
        Solution:

        <li>Make the base {{ leftside_base}} on the right hand side.
        <li> {{ leftside }} {{ equality }} {{ samebase_rightside }}
        <li>Once you have the base, look at the power {{ lspow }} = {{ rs_pow }}
        <li>
    </div>
</body>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>
</html>
