

/* ===== Primary Styles ========================================================
   Author: Math Brain
   ========================================================================== */

.border {
  border: 3px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-left: 1;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.question {
  width: 620px;
  padding: 2em;
}

.red {
  color: #de4615;
}

.blue {
  color: #295390;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}




